@font-face {
    font-family: "Branding W00 Bold";
    src: url("../Fonts/f97d3b737481b74a0dffaa764aebf4e3.eot");
    /* IE9*/
    src: url("../Fonts/f97d3b737481b74a0dffaa764aebf4e3.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */
        url("../Fonts/f97d3b737481b74a0dffaa764aebf4e3.woff2") format("woff2"),
        /* chrome、firefox */
        url("../Fonts/f97d3b737481b74a0dffaa764aebf4e3.woff") format("woff"),
        /* chrome、firefox */
        url("../Fonts/f97d3b737481b74a0dffaa764aebf4e3.ttf") format("truetype"),
        /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
        url("../Fonts/f97d3b737481b74a0dffaa764aebf4e3.svg#Branding W00 Bold") format("svg");
    /* iOS 4.1- */
}

@font-face {
    font-family: "Branding-SemiLight";
    src: url("../Fonts/31fce0e9dbe5cf577e95660cb1d05f97.eot");
    /* IE9*/
    src: url("../Fonts/31fce0e9dbe5cf577e95660cb1d05f97.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */
        url("../Fonts/31fce0e9dbe5cf577e95660cb1d05f97.woff2") format("woff2"),
        /* chrome、firefox */
        url("../Fonts/31fce0e9dbe5cf577e95660cb1d05f97.woff") format("woff"),
        /* chrome、firefox */
        url("../Fonts/31fce0e9dbe5cf577e95660cb1d05f97.ttf") format("truetype"),
        /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
        url("../Fonts/31fce0e9dbe5cf577e95660cb1d05f97.svg#Branding-SemiLight") format("svg");
    /* iOS 4.1- */
}

#categorias-dropdown .dropdown-submenu {
    position: relative;
  }
  #categorias-dropdown .dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
  }
  #categorias-dropdown .dropdown-submenu:hover > .dropdown-menu {
    display: block;
  }
  #categorias-dropdown .dropdown-submenu:hover > a:after {
    border-left-color: #fff;
  }
  #categorias-dropdown .dropdown-submenu.pull-left {
    float: none;
  }
  #categorias-dropdown .dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
  }

html,
body {
    overflow-x: hidden;
    /* Prevent scroll on narrow devices */
    font-family: "Branding-SemiLight" !important;
}

strong {
    font-family: "Branding W00 Bold";
    font-weight: bolder;
}

body {
    scroll-behavior: smooth !important;
    background: #e6e6e6;
}

[v-cloak] {
    display: none;
}

html {
    overflow-x: hidden;
}

a {
    color: #333333;

}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #fff !important;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #9E9E9E;
}

body {
    font-family: 'Raleway', sans-serif;
    color: #3e3e3e;
    overflow-x: hidden;
}

body :focus {
    outline: none;
}

button:focus {
    outline: 5px auto transparent;
}

section {
    padding: 50px 0 50px;
}

.fixed-top {
    position: initial;

}

.navbar {
    background: transparent;
    padding: 0;

}

.top {
    top: 0rem;
}

.main-menu__top-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-cero {}


.navbar-nav .nav-link {
    padding-right: 1.5rem !important;
    /*color: #171717;*/
    color: #fff;
    font-size: 1.2rem;
}

.navbar-brand img {
    width: 40%;
}

.logo {
    width: 85%;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-nav .nav-link {
    padding-right: 1.5rem !important;
    color: #ffffff;
    font-weight: lighter;
    list-style: initial;
}

.nav-item:nth-child(3) {
    list-style: initial;


}

.nav-item:nth-child(4) {
    list-style: initial;
    color: white;
    margin-left: 9px;
}

.nav-item:nth-child(5) {
    list-style: initial;
    color: white;
    margin-left: 9px;
}

.nav-item:nth-child(6) {
    list-style: initial;
    color: white;
    margin-left: 9px;
}

.navbar-nav .nav-link:hover {

    color: #d32b2b;
}

/* mega munu buscador */
header {
    background-color: #333333;
    height: 30vh;
}

.main-menu__top {
    display: grid;
    grid-template-columns: 300px 500px 300px;
    padding-top: 10px;
}

.main-menu__top-item ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

.cart__btn:hover i {

    color: #d32b2b;
    transition: .6s;
}

.main-menu__top-item ul li img {
    width: 25px;
}

.main-menu__top-item ul li a {
    margin-left: 25px;
    background-color: #5494a3;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    border-radius: 100%;
    overflow: hidden;
    color: #fff;
    align-items: center;
}

.main-menu__top-item ul li:nth-child(2) a {
    background-color: #d32b2b;

}

.main-menu__top-item {

    transition: .5s;
}

.drow-none {

    color: #5494a3 !important;

}

.drow-none:hover {
    color: #d32b2b !important;
}

.main-menu__top-item ul li a:hover {
    background-color: #ffffff;
    color: #5494a3;
    transition: .5s;
}

.main-menu__top-item ul li:nth-child(2):hover img {
    filter: invert(0);
}

.main-menu__top-item ul li:nth-child(1):hover img {
    filter: invert(0);
}


.main-menu__top-item ul li:nth-child(2) img {

    filter: invert(1);
}

.main-menu__top-item ul li:nth-child(1) img {

    filter: invert(1);
}

.megamenu-li {
    position: static;
}

.megamenu {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    padding: 15px;
}

.form-general input {
    vertical-align: middle;
    border-radius: 0;
    background: #e6e6e6;
    border: 0;
    font-size: .8rem;
    width: 400px !important;
}

.main-banner__img {
    height: 500px;
}

.main-banner__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.bg {
    background: #fff;
    margin-top: -30px;
    padding: 30px 20px;
    z-index: 1;
    position: relative;
}

.btn-form img {
    width: 20px;
    filter: opacity(0.5);
}

.navbar-collapse {
    margin-top: 20px;
}

.btn-form {
    background: #e6e6e6;
    border: 0;
    box-shadow: none;
    border-radius: 0;
    padding: 7px;
}

.search {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0px 0px 10px;
}

.main-banner {
    position: relative;
}

.desc {
    display: flex;
    justify-content: center;
    background: #db6666;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
    align-items: center;
    text-align: center;
    z-index: 1;
}

.desc p {
    font-size: 1.5rem;
    line-height: 1;
    font-weight: bold;
}

.desc strong {
    font-size: 2.5rem;
}

.main-banner__content .title {
    position: absolute;
    top: 25%;
    margin: 0 30px;
    color: #fff;
}

.main-banner__content .title p {
    font-size: 3rem;
    color: #000;
    margin: 0;
    line-height: 1.2;
    margin-bottom: 50px;

}

.main-banner__content .title p:nth-child(2) strong {
    font-size: 2.5rem;
    color: #d32b2b;
}

.main-banner__content .title p:nth-child(2) {
    font-size: 1.5rem;

}

.main-banner__content .title p:nth-child(2) small {
    font-size: 1rem;
    color: #8e8e8e;

}

.main-banner__content .title p:nth-child(3) {

    font-size: 1.5rem;
}

.btn-general {
    color: #fff;
    background: #d32b2b;
    padding: 10px 10px 10px 10px;
    border-radius: 50px;
    font-size: 1rem;
    outline: transparent;
    border: 1px solid #d32b2b;
    text-decoration: none !important;
    transition: .5s;
    font-family: "Branding W00 Bold";
    font-weight: bolder;
}

.btn-general:hover {
    background: #fff;
    color: #d32b2b;
    padding: 10px 50px 10px 10px;
    border-radius: 50px;
    font-size: 1rem;
    outline: transparent;
    text-decoration: none !important;
}

.btn-general2 {
    color: #fff;
    background: #d32b2b;
    padding: 10px 10px 10px 10px;
    border-radius: 50px;
    font-size: 16px;
    outline: #d32b2b;
    border: 1px solid #d32b2b;
    text-decoration: none !important;
    transition: .5s;
    font-weight: 400;
}

.btn-general2_bg {
    color: #d32b2b;
    background: #ffffff;
}

.btn-general2:hover {
    background: #fff;
    color: #019a3e;

    border-radius: 50px;
    font-size: 1rem;
    outline: transparent;
    text-decoration: none !important;
}

.main-banner__card {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    /* gap: 20px; */
}


.main-banner__card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .6s;
}

.main-banner__card-img {
    margin-top: 20px;
    height: 300px;
    width: 100%;
    position: relative;
    padding: 10px;
    transition: .6s;
}

.main-banner__card-img .title {
    padding: initial;
    position: absolute;
    top: 30px;
    color: #fff;
    text-align: end;
    width: 90%;
    line-height: 1;
}

.main-banner__card-img:nth-child(2) .title {
    top: 70px;
}

.main-banner__card-img:nth-child(2) span {
    color: #21333c !important;
    font-weight: bold;
    font-family: "Branding W00 Bold";
    font-size: 1.9rem;
    margin-bottom: 50px;
}

.main-banner__card-img:nth-child(3) span {
    color: #fff !important;

}

.main-banner__card-img:nth-child(2) .title strong {
    font-size: 2.5rem;
}

.main-banner__card-img a {
    background: #e3e3e3;
    border-radius: 50px;
    padding: 3px 10px;
    color: #94291c;
    font-size: 1.1rem;
    text-decoration: none;
}

.main-banner__card-img span {
    display: flex;
    flex-direction: column;
    line-height: .6;
    color: #d32b2b !important;
    font-weight: bolder;
    font-size: 1.2rem;
}

.main-banner__card-img .title strong {
    font-size: 2rem;
}

.main-banner__card-img:nth-child(2) .title p {
    font-size: 2rem;

}

.title__general {
    text-align: center;
    font-size: 2.2rem;
    color: #000;
    position: relative;
    margin-bottom: 30px;
}

.title__general2 {
    text-align: center;
    font-size: 2.2rem;
    color: #000;
    position: relative;
    margin-bottom: 30px;
}


.title__general-start {
    text-align: start;
    font-size: 2.5rem;
}

.title__general-start p::after {
    position: absolute;
    width: 130px;
    border-radius: 10px;
    height: 5px;
    top: 50px;
    left: 0;
    bottom: 0;
    background: #d32b2b;
    content: "";
}

.title__general p::after {
    position: absolute;
    width: 130px;
    border-radius: 10px;
    height: 5px;
    top: 50px;
    right: 43%;
    bottom: 0;
    background: #d32b2b;
    content: "";
}

.title__general2 p::after {
    position: absolute;
    width: 130px;
    border-radius: 10px;
    height: 5px;
    top: 50px;
    right: 81%;
    bottom: 0;
    background: #d32b2b;
    content: "";
}

.title__general__blue p::after {

    background: #87b4be;

}


/* slick categoria */
.slick-slide img {
    display: block;
    width: 100%;
}

.main-categorias__content .slick-slide img {
    display: block;
    width: 100%;
    height: 80px;
    object-fit: contain;
    margin-bottom: 15px;
}

.main-slider__item {
    margin-bottom: 100px;
}

.main-categorias__item {
    width: 100px;
}
.tiendas_content{
    display: none!important;
}
.main-categorias-txt {
    background: #fff;
    height: 200px;
    /* width: 150px; */
    padding: 0;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    margin-left: -1px;
    transition: .5s;
    justify-content: center;
    align-items: center;
    display: flex;


}

.grid-marcas{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.main-categorias__content .slick-list{
    height:200px;
}

.main-categorias-txt a {

    text-decoration: none;
}

.main-categorias-txt span {
    color: #9E9E9E;
    font-size: .9rem;
}

.main-categorias-txt {
    transition: .5s;
    line-height: 1;
    border: 1px solid #0000001a;
}

.main-categorias-txt:hover {
    background: #dc5555;
    transition: .5s;
}

.main-categorias-txt:hover span {
    color: #ffffff;
    transition: .5s;
}

.main-categorias-txt:hover img {
    /*filter: brightness(3.5);*/
    transition: .5s;
}

.main-categorias__content {
    padding-left: 100px;
    padding-right: 100px;
}

.main-categorias__content .slick-prev {

    left: 0px;
}

.main-categorias__content .slick-next {
    right: 75px;
}

/* .main-categorias-txt {
	padding: 20px;
	background: white;
	border-left: 2px solid #e6e6e6;

	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;

	height: 150px;
}
.main-categorias-txt img{
	width: 50px;
} */

/* tiendas */
.main-shop__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 12px;
}

.main-shop__card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 10px;
}

.main-shop__item {
    border: 1px solid transparent;
    box-shadow: 0px 0px 7px #0000006e;
    background: #fff;
    border-radius: 10%;
    text-align: center;
    position: relative;
    overflow: hidden;
    padding: 30px 15px 5px;
    transition: .5s;
}

.main-shop__item:hover {
    color: #5494a3;
    transform: translateY(-15px);
}

.main-shop__item a {
    color: #4a4949;
    font-size: .9rem;
    text-decoration: none;
}

.main-shop__item img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    /* background: #fff; */
    position: relative;
}

.main-shop__card-item img {
    border: 1px solid #9E9E9E;
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 5px;
}

.main-shop__item::before {
    content: "";
    background: transparent;
    position: absolute;
    width: 100%;
    height: 40%;
    left: 0;
    top: 0;
}

.main-shop__item p {
    font-size: 2rem;
    font-family: "Branding W00 Bold";
    font-weight: bolder;
    margin-bottom: 15px;
}

/* slider */

.content-slider {
    background: #fff;
    width: 100%;
    height: 230px;
    overflow: hidden;
    border-right: 1px solid #0000000d;

}

.main-slider__content .slick-slide {

    margin-left: 15px !important;
}

.slick-next:before {
    font-size: 200px;
    color: transparent;
    content: ".";
    z-index: 3;
    background-image: url(../img/deira-64.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;

}

.slick-prev:before {
    font-size: 200px;
    color: transparent;
    content: ".";
    z-index: 3;
    background-image: url(../img/deira-65.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
}

.slick-prev {
    right: auto;
    z-index: 1;
    left: -30px;

}

.slick-prev,
.slick-next {
    top: 20%;
}

.slick-prev:before,
.slick-next:before {
    opacity: 1;
}

.slick-next {
    right: 0px;
}

/* card slider */
.main-slider__text span:nth-child(1) {
    font-size: .9rem;
    color: #333333;
}

.main-slider__text .title {
    font-size: 1.1rem;
    font-weight: bold;
    font-family: "Branding W00 Bold";
    margin: 0;
    line-height: .9;
    color: #55565a;
}

.main-slider__text .title-blue {

    color: #55565a;
}

.main-slider__text .price {
    color: #d32b2b;
    font-size: 1.1rem;
    line-height: 0;
    font-weight: 700;
}

.price-old {
    margin: 0;
    line-height: 1;
    font-size: .8rem;
    color: #55565a;
}

.price-old span {
    text-decoration: line-through;
}

/* footer */
.main-footer__content {
    display: grid;
    grid-template-columns: 35% 45% 20%;
}

footer {
    background: #333333;
    margin-top: -20px;
}

.main-footer__item {
    margin-top: 50px;
    text-align: start;
}

.logo-footer {
    width: 300px;
}

.description {
    color: #fff;
    font-size: .9rem;
    text-align: start;

}

.social {
    display: flex;
    justify-content: start !important;
    padding: 0;
}

.contact img {
    width: 20px;
    filter: invert(1);
}

.contact {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.contact:hover {
    color: #d32b2b;
    text-decoration: none;
}

.main-footer__item ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

.main-footer__item ul li img {
    width: 50px;
    margin-right: 20px;
    margin-top: 10px;
}

.menu-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: baseline;
}

.menu-grid ul {
    display: flex;
    flex-direction: column;
    text-align: start;
}

.menu-grid a {
    font-size: .9rem;
    color: #9e9e9e !important;
}

.menu-grid .title {
    color: #fff;
    margin-bottom: 0;
    font-weight: bold;
    font-size: .9rem;
}


/* css detalles */



/*detalles mariaz*/
.div-informacion-detalles h3 {
    color: #dc3545;
    font-weight: bold;
    font-size: 40px;
}

.div-informacion-detalles small {
    color: #49555a;
    font-size: 22px;
}

.informacion-detalles {
    background-color: #f4f4f4;
    padding: 0;
    position: relative;
    padding-bottom: 50px;
}

.beneficios h3,
.beneficios h5 {
    font-size: 1rem !important;
}

.beneficios {
    padding-top: 20px;
    padding-bottom: 50px;
}

.presentacion .card {

    background-color: transparent !important;

    border: none !important;
}

.presentacion .card-header {
    border-bottom: 6px solid #87b4be;
    background-color: transparent;

}

.comprar-producto-details {
    background: #87b4be;
    border: 1px solid #87b4be;
    color: #fff;
    font-weight: bold;
    padding: 5px 12px;
    border-radius: 11px;
    width: 100px;
}

.informacion-detalles .desc {

    background: #db6666e0;

}

.div-informacion-detalles {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}

.div-informacion-detalles h5 {
    font-size: 20px;
}

.migas a {
    color: #d32b2b !important;
}

.migas {
    text-align: center;
    color: #d32b2b;
    padding-top: 2%;

}

.desc-detalles {
    width: fit-content;
    padding: 10px;
    position: relative;
    width: 125px;
    display: flex;
    justify-content: center;
    height: 125px;
    float: right;
    z-index: 99 !important;
    margin-top: -3.7%;
    margin-right: 15px;
    background: #db6666cc;
    color: #fff;
}

.desc-detalles h3 strong {
    font-size: 55px;
    color: #fff;
}

.imagen-detalles {
    width: 480px;
    height: auto;
    object-fit: cover;
    box-shadow: -4px 7px 17px #9c9696;
    margin-top: 16px;
    ;

}

.imagen-detalles-sub {
    display: flex;
    position: relative;
    margin-top: -5%;

    justify-content: center;
}

.imagen-detalles-sub img {
    width: 110px;
    display: flex;
    box-shadow: -4px 7px 17px #9c9696;
    margin-right: 30px;

}

.div-informacion-detalles h2 {
    font-size: 52px;
    padding-top: 15%;
}

.div-informacion-detalles ul {
    list-style: none;
    padding: 0;
    padding-top: 3%;
    line-height: 23px;
}

button.comprar-producto {
    background: #87b4be;
    border: 1px solid #87b4be;
    color: #fff;
    font-weight: bold;
    padding: 5px 12px;
    border-radius: 11px;
}

.container.beneficios {
    margin-top: 10%;
    position: relative;
    right: 15px;
}

.medios-pago .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.despachos .row {
    display: flex;
    justify-content: center;
    align-items: center;
}


.compra-protegida {
    display: flex;
    transition: .5s;
    cursor: default;
}

.compra-protegida .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.compra-protegida img {
    width: 100%;
}

.compra-protegida:hover {
    box-shadow: 0px 0px 10px #0000004a;
    background-color: #ffffff;

    color: #17a2b8;
}

.compra-protegida h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.compra-protegida {
    display: flex;
    /* background-color: #87b4be; */
    border-radius: 10px;
    /*padding: 15px;*/
    color: #87b4be;
    border: 1px solid;
}

.medios-pago {
    display: flex;
    border: 1px solid #87b4be;
    border-radius: 10px;
    padding: 15px;
    color: #d32b2b;
    background-color: #fff;
    transition: .5s;
}

.medios-pago:hover {
    box-shadow: 0px 0px 10px #0000004a;
    background-color: #d32b2b;

    color: #fff;
}

.despachos:hover {
    box-shadow: 0px 0px 10px #0000004a;
    background-color: #fff;

    color: #d32b2b;
}

.medios-pago img {
    width: 100%;
}

.medios-pago h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.p12 {
    padding-top: 12px;
    padding-bottom: 12px;
}

.despachos {
    display: flex;
    border: 1px solid #d32b2b;
    border-radius: 10px;
    padding: 15px;
    color: #fff;
    background-color: #d32b2b;
    transition: .5s;
}

.despachos img {
    width: 70%;
}

.despachos h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.card-header {
    color: #000;
}

.card-header h2 {
    text-align: center;
    position: relative;
    /* border-bottom: 6px solid #87b4be; */
    padding-bottom: 2%;
    margin-right: 34px;


}

.table-bordered td,
.table-bordered th {
    border: 1px solid #dee2e6;
    font-size: 1rem;
    padding: 5px;
}

.line {
    text-align: center;
    border-top: 2px solid #87b4be;
    padding-top: 30px;
}


.card-header h2::after {
    position: absolute;
    width: 11%;
    border-radius: 5px;
    height: 5px;
    top: 45px;
    left: 46%;
    right: 46%;
    bottom: 0;
    background: #d32b2b;
    content: "";
}

a:focus,
a:hover {
    text-decoration: none;
}

/* .card-header.acordeon::after {
	position: absolute;
	content: "";
	top: 70px;
	right: 6%;
	bottom: 0;
	left: 6%;
	width: 85%;
	height: 1%;
	background: #87b4be;
  }
  .card-header.acordeon-2:after {
	position: absolute;
	content: "";
	height: 1%;
	width: 85%;
	background: #87b4be;
	top: 74%;
  } */
.card-body {

    padding-left: 0;
    text-align: justify;
}

div#collapseUno,
div#collapseDos,
div#collapseTres {
    background-color: #fff;
    /* margin-right: 33px; */
}

.table-bordered {
    position: relative;
    right: 48px;
    left: 0;
    width: 100%;
    margin-top: 4%;
    margin-left: 0%;
    font-size: 10px;


}

.text_shipping {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 0;
}

.text_shipping p {
    width: 360px;
    color: #000;
    font-size: 14px;
}

/*shipp*/
.comentarios-calificacion h3 {
    position: relative;
    padding-top: 5%;
    padding-left: 5%;
}

.comentarios-calificacion h3::after {
    background: #87b4be;
    content: "";
    position: absolute;
    width: 24%;
    border-radius: 5px;
    height: 2px;
    top: 56px;
    left: 5%;
    right: 0;
    bottom: 0;
    content: "";

}

.comentario {
    border-bottom: 1px solid #87b4be;
    margin-right: 70px;
}

.comentario h3 {
    font-size: 16px;
}

.comentarios-calificacion h5 {
    margin-left: 5%;
    margin-top: 5%;
}

.container.comentarios {
    /* padding-bottom: 5%;
	margin-bottom: 5%; */

}

.comentario:nth-of-type(3) {
    border-bottom: 1px solid transparent;
    margin-right: 70px;
}

.agregar-comentario {
    background: #87b4be;
    border: 1px solid #87b4be;
    color: #fff;
    font-weight: bold;
    padding: 5px 50px;
    border-radius: 5px;
    font-size: 1.2rem;
}

/**/


.div-carrito h3 {
    position: relative;
    text-align: center;
    padding-top: 2%;
    font-size: 34px;

}

.div-carrito h3::after {
    background: #d32b2b;
    content: "";
    position: absolute;
    width: 15%;
    border-radius: 5px;
    height: 5px;
    top: 70px;
    left: 43%;
    right: 0;
    bottom: 0;
    content: "";
}

.pedido h3 {
    text-align: right;
}

.iconos-carrito {
    display: flex;
}

button.finalizar-compra {
    background: #87b4be;
    border: 1px solid #87b4be;
    color: #fff;
    font-weight: bold;
    padding: 5px 12px;
    border-radius: 11px;
    margin-bottom: 10%;

}

.pedido {
    border: 1px solid;
    margin-right: 10%;
    border-radius: 15px;
    padding: 10px 30px;
    text-align: right;

}

.pedido h3::after {
    background: #87b4be;
    content: "";
    position: absolute;
    width: 37%;
    border-radius: 5px;
    height: 2px;
    top: 48px;
    left: 62%;
    display: flex;
    right: 0;
    bottom: 0;
    content: "";
}

img.lista-pedido {
    width: 40px;
}

.pedido h2 {
    font-weight: bold;
    color: #d32b2b;
    font-size: 40px;
}

.estado-compra {
    display: flex;
    border: 1px solid #87b4be;
    border-radius: 10px;
    padding: 0px;
    color: #fff;
    background-color: #87b4be;
    text-align: center;
}

.estado-compra img {
    width: 35px;
    margin-top: 7px;
    margin-left: 6px;
}

.contactanos img {
    width: 35px;
}

.estado-compra h4 {
    font-size: 10px;
    font-weight: bold;

}

.estado-compra h5 {
    font-size: 10px;
}

.estado-compra .col-sm-8 {
    width: 80%;
}

.webpay .col-sm-8 {
    width: 80%;
}

.webpay {
    display: flex;
    border: 1px solid #87b4be;
    border-radius: 10px;
    padding: 0px;
    color: #fff;
    background-color: #87b4be;
}

.webpay img {
    width: -webkit-fill-available;
    padding: 6px;
}


.contactanos {
    text-align: center;
    display: flex;
    border: 1px solid #e06b6b;
    border-radius: 10px;
    padding: 0px;
    color: #fff;
    background-color: #e06b6b;
}

.contactanos img {
    width: 35px;
    margin-left: 10px;
    margin-top: 7px;
}

.contactanos h4 {
    font-size: 10px;
    font-weight: bold;

}

.contactanos h5 {
    font-size: 10px;
}

.contactanos .col-sm-8 {
    width: 80%;
}

.estado-compra,
.webpay,
.contactanos {
    height: 52px;
}

.carrito-informacion {
    /* margin-left: 7%; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    position: relative;
    right: 48px;
    left: 0;
    width: 93%;
    margin-top: 4%;
    margin-left: 5%;
}

.carrito-informacion .col-sm-4 {
    width: 18%;
}

.icono-carrito {
    width: 50px;
    height: 50px;
    background: red;
    padding: 5px;
    border-radius: 50px;
}

.iconos-carrito {
    justify-content: center;
    display: flex;
}

.destacados h3 {
    padding: 0;
    margin: 0;
    font-weight: bold;
}

.destacados h4 {
    color: #d32b2b;
    font-size: 26px;
    margin: 0;
}

.ofertas h3 {
    padding: 0;
    margin: 0;
    font-weight: bold;
}

.ofertas h4 {
    color: #d32b2b;
    font-size: 26px;
    margin: 0;
}


.logo-detalle {
    position: absolute;
    top: 25%;
    left: -12%;
}

.logo-detalle img {
    width: 150px;
    height: 150px;
}

/* carriro */

.div-carrito {

    background-color: #fff;
    /* margin-top: 8%; */
    margin-right: 2%;
    margin-left: 2%;


}

.div-carrito h3 {
    position: relative;
    text-align: center;
    padding-top: 2%;
    font-size: 34px;

}


.div-carrito h3::after {
    background: #d32b2b;
    content: "";
    position: absolute;
    width: 15%;
    border-radius: 5px;
    height: 5px;
    top: 70px;
    left: 43%;
    right: 0;
    bottom: 0;
    content: "";
}

.iconos-buy {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.icono-p {
    display: flex;
    position: absolute;
    z-index: 1;
}

.pedido h3 {
    text-align: right;
    position: relative;
}

.iconos-carrito {
    display: flex;
}

button.finalizar-compra {
    background: #87b4be;
    border: 1px solid #87b4be;
    color: #fff;
    font-weight: bold;
    padding: 6px 6px;
    border-radius: 11px;
    margin-bottom: 10%;
    transition: .5s;
    cursor: pointer;

}

button.finalizar-compra--go {

    background: #dc3545;
    border: 1px solid #d32b2b;
    margin-right: 10px;
}

button.finalizar-compra:hover {
    background: #ffffff;
    color: #87b4be;

}

button.finalizar-compra--go:hover {

    color: #dc3545;
}

.pedido {
    border: 1px solid;
    margin-right: 0%;
    border-radius: 15px;
    padding: 10px 30px;
    text-align: right;
    margin-top: 7%;

}

.form-check-label a {
    color: #5494a3;
}

input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 6px;
    width: 16px;
    height: 20px;
    cursor: pointer;
}

.pedido h3::after {
    background: #87b4be;
    content: "";
    position: absolute;
    width: 37%;
    border-radius: 5px;
    height: 2px;
    top: 40px;
    left: 62%;
    display: flex;
    right: 0;
    bottom: 0;
    content: "";
}

img.lista-pedido {
    width: 100px;
}

.pedido h2 {
    font-weight: bold;
    color: #d32b2b;
    font-size: 40px;
}

.estado-compra {
    display: flex;
    border: 1px solid #87b4be;
    border-radius: 10px;
    padding: 0px;
    color: #fff;
    background-color: #87b4be;
    text-align: center;
}

.estado-compra img {
    width: 35px;
    margin-top: 7px;
    margin-left: 6px;
}

.contactanos img {
    width: 35px;
}

.estado-compra h4 {
    font-size: 10px;
    font-weight: bold;

}

.estado-compra h5 {
    font-size: 10px;
}

.estado-compra .col-sm-8 {
    width: 80%;
}

.webpay .col-sm-8 {
    width: 80%;
}

.webpay {
    display: flex;
    border: 1px solid #87b4be;
    border-radius: 10px;
    padding: 0px;
    color: #fff;
    background-color: #87b4be;
}

.webpay img {
    width: -webkit-fill-available;
    padding: 6px;
}

.carrito thead {
    text-align: center;
}

.carrito td,
.carrito th {
    border: 1px solid #dee2e6;
    font-size: 1rem;
    /* padding: 0px; */
}

.carrito .table p {
    font-size: .8rem;
}

.carrito_item {
    display: grid;
    grid-template-columns: 25% 70%;
    background: #87b4be;
    color: #fff;
    align-items: end;
    padding: 10px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.carrito_item:nth-child(2) {
    background: transparent;
    padding: 0;
    grid-template-columns: 100%;
}

.carrito_item:nth-child(2) img {
    width: 200px;
    padding: 0;
    filter: none;
    background: transparent;
}

.carrito_item:nth-child(3) {

    background: #db6666;
}

.carrito_item p {
    margin: 0;
    font-weight: bold;
    font-size: .9rem;
    line-height: 0;
}

.carrito_item span {

    font-size: .8rem;
}


.iconos-buy {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}



.icono-buy__item img {
    width: 110px;
}

.icono-buy__item img {
    width: 110px;
}

.grid-menu {
    display: grid;
    /* grid-template-columns: 40% 20% 20% 20%; */
    gap: 10px;
}

.mega-menu .dropdown-menu {

    min-width: 18rem;
    background-color: #e6e6e6;

}

.grid-menu ul {
    list-style: none;
    margin: 0;
    padding-left: 20px;
}

.dropdown-menu {

    border: 0;
    box-shadow: 0px 0px 5px;
}

/*vista de compra*/
.table__title {
    color: #000000e0;
    font-weight: bold !important;
    font-size: 15px;
}

.carrito td,
.carrito th {

    border-bottom: none;
}

.info-success {
    /* border: .5px solid #00000026; */
    padding: 15px;
    /* box-shadow: 0px 0px 10px #0000001c; */
    border-radius: 10px;
    border-radius: 5px;
    padding-left: 50px;
    padding-right: 50px;
}

/*vista de compra*/


.drow-none {
    background: transparent !important;
    margin: 0;
    width: auto !important;
    height: auto !important;
    line-height: 1.5;
    display: block !important;
    color: #333;
    border-radius: initial !important;
}

.dropdown-menu {
    border: 0;
    box-shadow: 0px 0px 5px;
    background: #ffffff;
   
}

.drow-none:hover {
    color: #db6666;
}

.card-form .card {
    background-color: transparent;
    border: none;
}

.btn-primary:hover {
    border-color: #d32b2b;
}

.center-form {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-control:focus {

    border-color: #333333;
    box-shadow: 0 0 0 0.2rem rgba(51, 51, 51, 0.21);
}

.pass a {
    color: #333333;
    font-size: .9rem;
    transition: .5s;
}

.pass a:hover {
    color: #d32b2b;

}

.pass {
    text-align: right;
}

.btn-general--form {
    padding: 8px 30px;
}

.btn-general--form:hover {
    padding: 8px 30px;
}

.title__general--font {
    font-size: 2.1rem;

}

.form-check-label {
    margin-bottom: 0;
    color: #333333;
}

.form-check-label:hover {
    color: #d32b2b;
}

.color-box {
    height: 20px;
    width: 20px;
}

.login-btn {
    font-size: 1.2rem;

}

.login-btn a {
    color: #ffffff;
    transition: .5s;
    background: #d32b2b;
    padding: 10px;
    border-radius: 10px;
}

.login-btn a:hover {
    color: #d32b2b;
    background: #ffffff;


}

.main-banner__card-img:hover {
    transform: translateY(-5px);
    transition: .3s;
}

.main-banner__card-img img:hover {
    transition: .3s;
    box-shadow: 0px 0px 12px #00000047;

}

.amout {
    display: grid;
    grid-template-columns: 32px 50px 32px 100%;
    align-items: center;
}

.btn-primary.focus,
.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(51, 51, 51, 0.13);
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    color: #d32b2b;
    background-color: #ffffff;
    border-color: #333333;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(51, 51, 51, 0.18);
}

.form-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.form-grid__item {
    width: 50%;
    padding-right: 15px;
    margin-bottom: 15px;
}

.active_user {
    width: 10px;
    height: 10px;
    background: #1bf24c;
    border-radius: 50%;
    margin-left: 10px;
}

.user_content {
    width: max-content !important;
    border-radius: 20px !important;
    margin-right: 10px;
    color: #000;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.btn-cart {
    color: black !important;
    font-size: 1.4rem !important;
    background: #56565600 !important;
    border: 1px solid #ced4da;
    margin: 0;
    padding: 0;
    height: 35px;
    width: -webkit-fill-available;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-cart:focus {
    border-color: #333333;
    box-shadow: 0 0 0 0.2rem rgba(51, 51, 51, 0.21);
}

.form-control {

    font-family: "Branding-SemiLight" !important;
}

.icon-container {
    position: absolute;
    right: 22px;
    top: calc(50% - -1px);
}

.loader {
    position: relative;
    height: 20px;
    width: 20px;
    display: inline-block;
    animation: around 5.4s infinite;
}

@keyframes around {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.inputcontainer {
    position: relative;
}

.loader::after,
.loader::before {
    content: "";
    background: white;
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    border-width: 2px;
    border-color: #333 #333 transparent transparent;
    border-style: solid;
    border-radius: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    animation: around 0.7s ease-in-out infinite;
}

.loader::after {
    animation: around 0.7s ease-in-out 0.1s infinite;
    background: transparent;
}

.form-check {
    position: relative;
    display: block;
    padding-left: 1.25rem;
    display: flex !important;
    align-items: center !important;
    margin: 0 !important;
}

.main-menu__top-item .dropdown-toggle::after {
    display: none;
}

.slick-dots li button:before {

    content: "";
    width: 25px;
    height: 11px;
    background: #d32b2b;
    border-radius: 10px;

}

.slick-dots li.slick-active button:before {
    opacity: 1;
}

.slick-dots {

    bottom: 0;

}



/* hover dropdown menus */
@media only screen and (max-width: 991px) {
    .navbar-hover .show>.dropdown-toggle::after {
        transform: rotate(-90deg);
    }
}

@media only screen and (min-width: 992px) {
    .navbar-hover .collapse ul li {
          position: static;
    }

    .navbar-hover .collapse ul li:hover>ul {
        display: block
    }

    .navbar-hover .collapse ul ul {
        position: absolute;
        top: 100%;
        left: 0;
        min-width: 250px;
        display: none;
        margin-top: -10px;
    }

    .navbar-hover .collapse ul ul ul {
        position: absolute;
        top: 0;
        left: 100%;
        min-width: 250px;
        display: none
    }

    /*.navbar-hover .collapse ul ul ul ul{position:absolute;top:0;left:-100%;min-width:250px;display:none;z-index:1}*/
}

/*slick img hover*/
.main-slider__content .slick-slide img {


    transition: all .3s ease-in-out;
}

.main-slider__content .slick-slide:hover img {

    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    transition: all .3s ease-in-out;
}

.main-slider__content .main-slider__item {
    overflow: hidden;

    transition: all .3s ease-in-out;

}

.style-marcas {
    box-shadow: 0px 0px 10px #0000004f;
    object-fit: contain;
    border-radius: 50%;
    background: #fff;
}


.hover--grid {
    display: grid !important;
    grid-template-columns: 1fr !important;
    height: 70vh !important;
    overflow-x: overlay;

}

.dropdown-left {
    left: 0 !important;
}

.categories__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.nav-item{
    list-style: none;
    color: #3e3e3e;
}

/*.categories__grid .nav-item:nth-child(3),
.nav-item:nth-child(4),
.nav-item:nth-child(7) {
    list-style: unset !important;
    color: #3e3e3e;
    margin-left: 0;
}

.navbar-custom{
    list-style: unset !important;
    color: #fff !important;
    margin-left: 0;
}*/

.brands-center {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 15px;
}

.brands-center .main-slider__text span {
    font-size: 1.2rem;
    color: #333333;
    font-weight: bold;
}

/*zoom productos*/
.content-slider img {

    overflow: hidden;
    transition: all .3s ease-in-out;
}

.content-slider:hover img {

    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    transition: all .3s ease-in-out;
}

/*ayuda*/
.panel-group .panel {
    border-radius: 0;
    box-shadow: none;
    border-color: #EEEEEE;
}

.panel-default>.panel-heading {
    padding: 0;
    border-radius: 0;
    color: #d32b2b;
    background-color: #e6e6e6;
    border-color: #e6e6e6;
}

.panel-title {
    font-size: 14px;
}

.panel-title>a {
    display: block;
    padding: 15px;
    text-decoration: none;
}

.more-less {
    float: right;
    color: #212121;
    margin-top: 15px;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #EEEEEE;
    margin-left: 50px;
}


.demo {
    padding-top: 60px;
    padding-bottom: 110px;

}

.panel-default>.panel-heading:hover {
    background-color: #d32b2b;
    transition: .5s;

}


.panel-default>.panel-heading:hover h4 {
    color: #fff;
}

.panel-default>.panel-heading:hover .more-less {

    color: #ffffff;

}

.panel-body a {
    color: #000;
    font-weight: bold;
    background: #607d8b1a;
}

.fa-icon {
    color: #d32b2b;
    margin-right: 15px;
    background: white;
    padding: 10px;
    border-radius: 50%;
    height: 20px;
    width: 44px;
    text-align: center;
    justify-content: center;
    align-items: stretch;
    display: inline-table;
}

.about_content img {
    border-radius: 10px;
    width: 100%;
}

.about_text p {
    font-size: 1.2rem;
}

.pag-center {
    display: flex;
    justify-content: space-between;
}

.pag-center .page-link:hover {

    color: #d32b2b;
    background-color: transparent;

}

.trash {
    color: #d32b2b;
    background: transparent;
    border: none;
}

/*datos*/
.grid__datos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.title__general_exit p::after {
    position: absolute;
    width: 130px;
    border-radius: 10px;
    height: 5px;
    top: 50px;
    right: 43%;
    bottom: 0;
    background: #1bf24c;
    content: "";
}


.title-brand{
    color: #5494a3;
    margin-top: 4px;
}

.grid__datos__item{
    border: .5px solid #00000026;
    padding: 15px;
    box-shadow: 0px 0px 10px #0000000d;
    border-radius: 10px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.font-size {
    font-size: 1.5rem;
}

.grid__datos__item .title__general p::after {
    display: none;
}

.grid__datos__item::before {
    border-radius: 0;
    border-right: 1px dashed #000;
    position: absolute;
    width: 130px;
    border-radius: 10px;
    height: 5px;
    top: 50px;
    right: 43%;
    bottom: 0;

    content: "";
}

.colunm {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 50px;
    font-size: 17px;
}

.info__sucess {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.info__sucess .card {
    width: 50%;
    border: 0;
}

.info__sucess .card-header {
    color: #000;
    background: transparent;
    border: 0;
}

.info__sucess .btn-link {
    font-weight: 400;
    color: #007bff;
    background-color: transparent;
    background: #f7f7f7;
    width: 100% !important;
    text-align: start;
    color: #000;
    height: 50px;
}

.info__sucess .collapse {
    height: 30vh;
    overflow-x: scroll;
}

.info__sucess strong {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info__sucess .card-body {

    padding-left: 50px;
    padding-right: 50px;
}

#search-area-mobile{
    display: none;
}

[v-cloak] {
    display: none;
}

.pagination {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px #0000002e;
    border-radius: 50px;
}

.page-link {
    padding: 1px 10px !important;
    font-weight: lighter;
    color: #d32b2b !important;
    border: 0;
    font-size: 1.1rem!important;
    background: transparent;
}

.page-item {}

.line-pag {

    border-left: 1px solid #00000040;


}

.line-pag_r {

    border-right: 1px solid #00000040;
}

.pag-50 .pagination {

    width: 20%;
}

.line-pag {
    display: flex;
    justify-content: center;
    align-items: center;
}

.show-on-mobile{
    display: none;
}

.stock{
    background: #d32b2b;
    color: #fff;
    text-align: center;
    position: absolute;
    width: 135%;
    font-size: 16px;
    transform: rotateZ(45deg);
    padding-left: 67px;
}

.dropdown-custom{
    background-color: red;
}



/*.navbar-hover2 .collapse ul ul ul {
    top: 0;
    left: -40%;
}*/
#modal-home .modal-dialog {
    max-width: 700px!important;

}
#modal-home img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
#modal-home .col-md-6{
 
    display: flex;
    justify-content: center;
    align-items: center;

}
#modal-home .modal-body {
    padding: 0rem;
}
#modal-home .close{
    position: absolute;
    right: 33px;
    z-index: 9;
    color: #ffffff;
    font-size: 50px;
    opacity: 1;
}
